.ul-apuntes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4f83cc;
  font-size: 16px;
}

.li-apuntes {
  float: left;
}

.li-a-apuntes {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li-a-apuntes:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4f83cc;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.lg-header {
  float: right;
}

.dv-apuntes {
  display: flex;
  padding: 5px;
  width: 20%;
}
