.gf-header {
  display: flex;
  justify-content: flex-end;
}

.gf-header a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.gf-header a:hover {
  text-decoration: underline;
}

.lk-header {
  padding: 5px;
}

.bt-header {
  border: none;
  background: none;
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}
