.App {
  text-align: center;
}

.App-content {
  background-color: #000a12;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(4px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}
